In [10]:
import pandas as pd
import numpy as np

In [11]:
# Load dataset into dataframe
df = pd.read_csv('src/data/keypoints.csv', ",")
# A quick look
df.head()

/Users/lennertsteyaert/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,id,keypoints,descriptors
0,0,zaal_19__IMG_20190323_121622__09.png,"[[[806.0, 110.0], 31.0, 275.04583740234375, 0....","[[103, 88, 235, 70, 73, 93, 214, 144, 235, 96,..."
1,1,zaal_S__IMG_20190323_122944__04.png,"[[[53.0, 566.0], 31.0, 128.27857971191406, 0.0...","[[246, 34, 238, 84, 206, 112, 221, 73, 82, 214..."
2,2,zaal_19__IMG_20190323_121523__04.png,"[[[35.0, 69.0], 31.0, 10.569690704345703, 0.00...","[[188, 156, 239, 125, 142, 102, 87, 186, 84, 2..."
3,3,zaal_19__IMG_20190323_121523__10.png,"[[[510.0, 455.0], 31.0, 324.44921875, 0.000218...","[[93, 145, 206, 189, 180, 66, 121, 80, 183, 81..."
4,4,zaal_S__IMG_20190323_122748__01.png,"[[[308.0, 1869.0], 31.0, 261.1571350097656, 0....","[[24, 64, 106, 233, 85, 210, 249, 71, 68, 5, 2..."

In [12]:
#json.load(df.descriptors[0])

pd.read_json(df.descriptors[0])

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,103,88,235,70,73,93,214,144,235,96,...,250,32,23,125,65,63,73,59,86,182
1,82,179,254,37,178,14,188,55,121,233,...,149,76,110,126,62,198,237,130,171,223
2,32,146,147,89,237,237,181,71,255,27,...,210,17,5,190,80,110,217,72,198,159
3,105,163,126,32,253,157,244,111,235,249,...,246,84,63,89,85,121,201,14,218,142
4,182,126,97,1,151,107,198,68,49,230,...,101,46,179,118,129,179,111,127,214,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,252,77,255,254,13,214,207,96,213,130,...,186,234,243,227,195,11,51,123,116,34
96,41,99,105,101,116,15,103,60,96,172,...,241,14,101,172,37,52,98,186,86,232
97,19,223,106,173,54,131,191,247,92,68,...,4,255,240,36,174,128,93,138,161,221
98,192,114,93,101,98,12,125,60,40,182,...,179,65,197,169,96,36,96,177,7,120
99,214,4,142,190,137,224,20,3,190,151,...,138,160,153,243,222,91,144,117,173,2

In [13]:
df.descriptors

0      [[103, 88, 235, 70, 73, 93, 214, 144, 235, 96,...
1      [[246, 34, 238, 84, 206, 112, 221, 73, 82, 214...
2      [[188, 156, 239, 125, 142, 102, 87, 186, 84, 2...
3      [[93, 145, 206, 189, 180, 66, 121, 80, 183, 81...
4      [[24, 64, 106, 233, 85, 210, 249, 71, 68, 5, 2...
                             ...
796    [[14, 36, 165, 177, 137, 225, 177, 75, 158, 24...
797    [[163, 186, 252, 27, 236, 189, 184, 207, 250, ...
798    [[194, 238, 109, 83, 184, 233, 189, 174, 186, ...
799    [[188, 97, 193, 225, 205, 91, 198, 73, 22, 226...
800    [[18, 178, 43, 217, 8, 213, 120, 83, 151, 93, ...
Name: descriptors, Length: 801, dtype: object